@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;;
  font-size: 1rem;
}
body {
  background-image: url(QuizNight.jpeg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  border: 10px solid black;

  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  
  align-items: center;
  justify-content: center;
  position: relative;
}
.container{
  width:fit-content;
  
  border-radius: 10px;
  background-color: grey;
  padding: 5px;
  

}
.counter{
  display: block;
  position: absolute;
  top:250px
}

.btn-all{
  display: grid;
  grid-template-columns:repeat(2,auto);
  gap: 15px;
  margin:  20px 0;
}
.controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  border-radius: 0px;
}

.hide{
  display: none;
}

.start-btn{
  padding: 10px 20px;
  font-weight: bold;
}
.next-btn{
  padding: 10px 20px;
  font-weight: bold;
}