body {
  background-image: url(Stamp_BG.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 10px solid black;
  font-family: "Silkscreen", cursive;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: "Silkscreen", cursive;
  font-size: larger;
}

.hide {
  display: none;
}
.zAxis {
  z-index: 7;
}
.grid {
  position: absolute;
  left: 30%;
  top: 25%;
  justify-items: center;
  background-image: url(mario.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 560px;
  height: 300px;
  border: solid 1px black;
}

.start-btn {
  position: absolute;
  font-family: "Silkscreen", cursive;
  top: 50%;
  left: 44%;
  width: 130px;
  height: 100px;
  border: solid 1px black;
  margin: auto;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-image: url("Moving Platform3.gif");
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-image: url("Bricks.gif");
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-image: url("Firework3.gif");
}
